# SSH
alias vmo="ssh ubuntu@158.101.22.92"
alias vmg="ssh usr_3091865790609_ingenieria_usa@34.82.25.144"
alias vma="ssh -i ~/.ssh/my_ssh.pem ec2-user@52.1.172.154"

# Node
alias ni="npm install"
alias nd="npm run dev"
alias nb="npm run build"
alias ns="npm run start"

# Yarn
alias yi="yarn install"
alias yd="yarn dev"
alias yb="yarn build"
alias ys="yarn start"

# Global
alias -g G='| grep'
alias -g H='| head'
alias -g L='| less'
alias -g M='| more'
alias -g S='| sort'
alias -g T='| tail'
alias -g X='| xargs'

# Other
alias c="code -r"
alias cls="clear && move_to_bottom"
alias cx="cd .."
alias cz="cd -"
alias dev="cd ~/dev"
alias lc="colorls --sd -A"
alias open="xdg-open 2>/dev/null"
alias sql="$HOME/sqlcl/bin/sql"

alias reload="exec zsh"
alias reload-plugins="antibody bundle < $ZDOTDIR/.zsh_plugins.txt > $ZDOTDIR/.zsh_plugins.sh && reload"
alias zsh-config="nano $ZDOTDIR/.zshrc && reload"
alias zsh-aliases="nano $ZDOTDIR/.aliases && reload"
alias zsh-plugins="nano $ZDOTDIR/.zsh_plugins.txt && reload-plugins"

# Move the prompt to the bottom of the screen
move_to_bottom() {
  print ${(pl:$LINES-3::\n:):-}
}

# Google command
google(){
  open "https://google.com/search?q=$1"
}

# Meassure zsh exec time
timezsh(){
  shell=${1-$SHELL}
  for i in $(seq 1 4); do /usr/bin/time $shell -i -c exit; done
}

# Upload dotfiles to cloud
upload-dotfiles(){
  echo "Uploading dotfiles..."
  cd $ZDOTDIR
  git add .
  git commit -m "dotfiles updated $(date +%d-%m-%y)"
  git push
  echo "Done."
}
